* {
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body a {
    text-decoration: none;
    color: #5f6368;
}

li {
    list-style: none;
}

/* Section 1 starts here */

.container-menus {
    height: 100vh;
    background-color: #FFAFO;
    /*grid starts the big grid here */
    display: grid;
    grid-template: 
    "header header header" 60px
    "left-menu main right-menu" 1fr / 
    0.5fr 2fr 1fr;
    grid-gap: 8px;
}

/* here starts the nested header wich has a grid himself also is part of container grid */

.header {
    grid-area: header;
    border: 2px solid black;
    display: grid;
    grid-template: 
    "header-sub-1 header-sub-2 header-sub-3" 1fr / 
    0.5fr 2fr 1fr;
}

.header-sub-1 {
    grid-area: header-sub-1;
    border: 1px solid black;
}

.header-sub-2 {
    grid-area: header-sub-2;
    border: 1px solid black;
}

.header-sub-3 {
    grid-area: header-sub-3;
    border: 1px solid black;
} /* end of nested grid for header */

/* start of nested grid for left-menu */

.left-menu {
    grid-area: left-menu;
    border: 2px solid black;
    display: grid;
    grid-template: 
    "left-menu-sub-1" 0.35fr
    "left-menu-sub-2" 0.60fr
    "left-menu-sub-3" 0.05fr / 
     1fr;
}

.left-menu-sub-1 {
    grid-area: left-menu-sub-1;
    border: 1px solid black;
}

.left-menu-sub-2 {
    grid-area: left-menu-sub-2;
    border: 1px solid black;
}

.left-menu-sub-3 {
    grid-area: left-menu-sub-3;
    border: 1px solid black;
}
/*end of nested grid for left menu */

/* start of nested main sub grid with 2 menus sub */

.main {
    grid-area: main;
    border: 2px solid black;
    display: grid;
    grid-template: 
    "main-sub-1" 0.1fr
    "main-sub-2" 0.9fr / 
     1fr;
     overflow: scroll;
}

.main-sub-1 {
    grid-area: main-sub-1;
    border: 1px solid black;
}

.main-sub-2 {
    grid-area: main-sub-2;
    border: 1px solid black;
}

/* creating a nested grid for right part */

.right-menu {
    grid-area: right-menu;
    border: 2px solid black;
    display: grid;
    grid-template: 
    "right-menu-sub-1 right-menu-sub-2" 1fr / 
     0.8fr 0.2fr;
     overflow: scroll;
}

.right-menu-sub-1 {
    grid-area: right-menu-sub-1;
    border: 1px solid black;
}

.right-menu-sub-2 {
    grid-area: right-menu-sub-2;
    border: 1px solid black;
}

/*end of nested grid of right menu sub */

/*start of header customization */
.header .header-sub-1 {
    display: grid;
    align-content: start;
    place-items: center;
}

.header .header-sub-1 .header-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-gap: 10px;
}

/*customizing grids for header-sub-2 */
.header-sub-2 {
    display: grid;
}

.header-sub-2 .search-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    place-items: center;
}

.header-sub-2 .search-bar input {
    background-color: #f1f3f4;
    height: 35px;
    width: 40vw;
    border-radius: 5%;
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}
/*-------------------------------------------------------*/

/*customizing grids for header-sub-3 */
.header-sub-3 {
    display: grid;
}

.header-sub-3 .icons-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    place-items: center;
}
.header-sub-3 .icons-header i {
    font-size: 20px;
    color: #5f6368;
}
/*----------  end OF HEADER STYLING JUST STYLING AND LITTLE SUB GRIDS LAYOUT --------------------------------------------------*/

/* START OF STYLING LEFT-MENU--SUB-1 */
.left-menu .left-menu-sub-1 {
    display: grid;
    align-content: start;
    overflow: scroll;
}

.left-menu .left-menu-sub-1 .image-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-top: 5px;
}

.left-menu .left-menu-sub-1 .image-group img {
    border-radius: 20%;
    background-color: transparent;
    box-shadow: 0px 2px 2px 2px #f1f3f486;
    width: 120px;
}

.left-menu .left-menu-sub-1 .email-icons {
    display: grid;
    grid-template-columns: 0.2fr 0.9fr;
    grid-gap: 10px;
    padding-left:10px;
    padding-top: 10px;
}

.left-menu .left-menu-sub-1 .email-icons i {
    color: #5f6368;
    font-size: 12px;
}

.left-menu .left-menu-sub-1 .email-icons span {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
}
/* END OF STYLING LEFT-MENU-SUB-1 */

/* left-menu-sub-2 starts styling here */ /* new things for components using grids components */
.left-menu .left-menu-sub-2 { 
    display: grid;
    padding-top: 10px;
    align-content: start;
    overflow: scroll;
}

.left-menu .left-menu-sub-3 {
    display: grid;
    align-content: start;
    grid-gap: 20px;
}

.left-menu .left-menu-sub-2 .left-menu-sub-2-item {
    display: grid;
    grid-template-columns: 50px 1fr;
    place-items: center;
    grid-gap: 10px;
}

.left-menu .left-menu-sub-2 .left-menu-sub-2-item span {
    font-size: 12px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2px;
    color: royalblue;
}

.left-menu-sub-2 .left-menu-sub-2-item i {
    font-size: 16px;
    color: #5f6368;
}

.left-menu-sub-2 #special-left-span {
    font-size: 16px;
    font-weight: 450;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.2px;
    display: grid;
    place-items: center;
    padding-bottom: 25px;
}

/* chat */
.left-menu-sub-2 .left-menu-sub-2-item-chat {
    display: grid;
    grid-template-columns: 50px 1fr;
    place-items: center;
    grid-gap: 5px;
}

.left-menu-sub-2 #special-left-span-chat {
    font-size: 16px;
    font-weight: 450;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.2px;
    display: grid;
    place-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.left-menu-sub-2 .left-menu-sub-2-item-chat img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

 .left-menu-sub-2 .left-menu-sub-2-item-chat span {
    font-size: 12px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2px;
    color: royalblue;
}

/*main styling here section OLY FOR SUB1 */
.main .main-sub-1 {
    display: grid;
    align-content: start;
}

.main .main-sub-1 .main-group {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.main-sub-1 .main-group .main-icons-1 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    padding-left: 10px;
}

.main-sub-1 .arrows .arrows-icon {
    font-size: 18px;
    color: #000;
}

/*LEFT-MENU-SUB-3 STYLING */

.left-menu-sub-3 .left-icons-group {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    place-items: center;
    grid-gap: 1px;
    padding-top: 5px;
}

.left-menu-sub-3 .left-icons-group i {
    display: grid;
    place-items: center;
    color: #5f6368;
}

/* MAIN POST STYLING HERE */
.main-sub-2 {
    display: grid;
    align-content: start;
    grid-gap: 5px;
    padding-top: 10px;
}

.main-sub-2 .main-post {
   display: grid;
   grid-template-columns: 0.5fr 0.5fr 4fr 4fr 1fr;
   place-items: center;
   grid-gap: 2px;
}

.main-sub-2 .main-post p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.main-sub-2 .hr-line {
    border-top: 1px solid #5f6368;
}

.right-menu .right-menu-sub-2 .right-menu-sub-2-icons {
    display: grid;
    grid-gap: 40px; */
    padding-top: 30px;
    place-items: center;
    padding-top: 45px;
}

.right-menu .right-menu-sub-2-icons i {
    font-size: 20px;
    color: #5f6368;
}

.right-menu .right-menu-sub-2 #right-menu-special-icon {
   padding-top: 80px;
}

/*start of great grid  RIGHT MENU-SUB-1*/
.right-menu .right-menu-sub-1 {
    display: grid;
    align-content: start;
    grid-gap: 20px;
    overflow: scroll;
}

.right-menu .right-menu-sub-1 .first-group {
    padding-top: 20px;
    display: grid;
    place-items: center;
    grid-template-columns: 0.8fr 0.2fr;
    grid-gap: 15px;
}

.right-menu .right-menu-sub-1 .first-group span {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.right-menu .right-menu-sub-1 .first-group i {
    font-size: 15px;
    font-weight: 800;
}

.right-menu .right-menu-sub-1 .first-group input {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 10%;
    background-color: transparent;
    border: 1px solid #5f6368;
    color: royalblue;
    font-weight: 700;
}

/* bug  fixed it with not gird-template just grid-template-columns dunno why it worked with this and not with that*/

.right-menu .right-menu-sub-1 .second-group {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.4fr;
    grid-gap: 10px;
    place-items: center;
    padding-left: 15px;
}

.right-menu .right-menu-sub-1 .second-group span {
    font-size: 12px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Nje tjeter grid RIGHT-MENU-SUB-1 */
.right-menu .right-menu-sub-1 .third-group .title-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 150px;
}

.right-menu .right-menu-sub-1 .third-group .title-group span, .right-menu .right-menu-sub-1 .third-group .title-group a {
    color: royalblue;
}

.right-menu .right-menu-sub-1 .third-group .image-box {
   display: grid;
   grid-template-columns: 2fr 2fr 2fr 2fr;
   grid-gap: 2px;
   place-items: center;
}

.right-menu .right-menu-sub-1 .third-group .image-box img {
    height: 40px;
    width: 60px;
    border-radius: 20%;
    border: 0.5px solid #5f6368;
}

.right-menu .right-menu-sub-1 .fourth-group .title-group-2 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.right-menu .right-menu-sub-1 .fourth-group .title-group-2 span {
    font-size: 12px;
    font-weight: 900;
    color: royalblue;
}

.right-menu .right-menu-sub-1 .fourth-group .radio-btn-group span {
    font-size: 12px;
    font-weight: 500;
} 

.right-menu .right-menu-sub-1 .fourth-group .radio-btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding-top: 30px;
    place-items: center;
}


/* Media Queries to make it responsive */

@media screen and (max-width: 900px) {
    .right-menu .right-menu-sub-2 {
        display: none;
    }

   .right-menu {
    grid-area: right-menu;
    border: 2px solid black;
    display: grid;
    grid-template: 
    "right-menu-sub-1" 1fr / 
     1fr;
    }
}

@media screen and (max-width: 600px) {
    .header .header-sub-3, .right-menu {
        display: none;
    }

    .container-menus {
        height: 100vh;
        /*grid starts the big grid here */
        display: grid;
        grid-template: 
        "header header" 60px
        "left-menu main" 1fr / 
        0.2fr 0.8fr;
    }
}

@media screen and (max-width: 500px) {
    .header .header-sub-1, .left-menu {
        display: none;
    }

    .container-menus {
        height: 100vh;
        /*grid starts the big grid here */
        display: grid;
        grid-template: 
        "header" 60px
        "main" 1fr / 
         1fr;
    }
}