* {
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body a {
    text-decoration: none;
    color: #5f6368;
}

li {
    list-style: none;
}

/* Section 1 starts here */

.container-menus {
    height: 100vh;
    background-color: #FFAFO;
    /*grid starts the big grid here */
    display: grid;
    grid-template: 
    "header header header" 60px
    "left-menu main right-menu" 1fr / 
    0.5fr 2fr 1fr;
    grid-gap: 8px;
}

/* here starts the nested header wich has a grid himself also is part of container grid */

.header {
    grid-area: header;
    border: 2px solid black;
    display: grid;
    grid-template: 
    "header-sub-1 header-sub-2 header-sub-3" 1fr / 
    0.5fr 2fr 1fr;
}

.header-sub-1 {
    grid-area: header-sub-1;
    border: 1px solid black;
}

.header-sub-2 {
    grid-area: header-sub-2;
    border: 1px solid black;
}

.header-sub-3 {
    grid-area: header-sub-3;
    border: 1px solid black;
} /* end of nested grid for header */

/* start of nested grid for left-menu */

.left-menu {
    grid-area: left-menu;
    border: 2px solid black;
    display: grid;
    grid-template: 
    "left-menu-sub-1" 0.35fr
    "left-menu-sub-2" 0.60fr
    "left-menu-sub-3" 0.05fr / 
     1fr;
}

.left-menu-sub-1 {
    grid-area: left-menu-sub-1;
    border: 1px solid black;
}

.left-menu-sub-2 {
    grid-area: left-menu-sub-2;
    border: 1px solid black;
}

.left-menu-sub-3 {
    grid-area: left-menu-sub-3;
    border: 1px solid black;
}
/*end of nested grid for left menu */

/* start of nested main sub grid with 2 menus sub */

.main {
    grid-area: main;
    border: 2px solid black;
    display: grid;
    grid-template: 
    "main-sub-1" 0.1fr
    "main-sub-2" 0.9fr / 
     1fr;
     overflow: scroll;
}

.main-sub-1 {
    grid-area: main-sub-1;
    border: 1px solid black;
}

.main-sub-2 {
    grid-area: main-sub-2;
    border: 1px solid black;
}

/* creating a nested grid for right part */

.right-menu {
    grid-area: right-menu;
    border: 2px solid black;
    display: grid;
    grid-template: 
    "right-menu-sub-1 right-menu-sub-2" 1fr / 
     0.8fr 0.2fr;
     /* overflow: scroll; */
}

.right-menu-sub-1 {
    grid-area: right-menu-sub-1;
    border: 1px solid black;
}

.right-menu-sub-2 {
    grid-area: right-menu-sub-2;
    border: 1px solid black;
}

/*end of nested grid of right menu sub */

/*start of header customization */
.header .header-sub-1 {
    display: grid;
    align-content: start;
}

.header .header-sub-1 .header-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-gap: 15px;
}

/*customizing grids for header-sub-2 */
.header-sub-2 {
    display: grid;
}

.header-sub-2 .search-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    place-items: center;
}

.header-sub-2 .search-bar input {
    background-color: #f1f3f4;
    height: 35px;
    width: 50vw;
    border-radius: 5%;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}
/*-------------------------------------------------------*/

/*customizing grids for header-sub-3 */
.header-sub-3 {
    display: grid;
}

.header-sub-3 .icons-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
    place-items: center;
}
.header-sub-3 .icons-header i {
    font-size: 22px;
    color: #5f6368;
}
/*----------  end OF HEADER STYLING JUST STYLING AND LITTLE SUB GRIDS LAYOUT --------------------------------------------------*/


.left-menu-sub-1 .image-group img {
    border-radius: 20%;
    background-color: transparent;
    border: 0.2px solid #fff;
    box-shadow: 0px 1px 0px 1px #f1f3f486;
}

.left-menu-sub-1 .image-group {
    padding-top: 10px;
    padding-left: 10px;
}



/* left-menu-sub-2 starts styling here */ /* new things for components using grids components */
.left-menu-sub-2 { 
    display: grid;
    padding-top: 20px;
    align-content: start;
    /* grid-gap: 25px; */  /* had a big problem when this happened then the left-sub-menu 3 wich is nested pushed the page and didnt llok good */
}

.left-menu-sub-3 {
    display: grid;
    align-content: start;
    grid-gap: 20px;
}

.left-menu-sub-2 .left-menu-sub-2-item {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    grid-gap: 15px;
    padding-left: 5px;
}

.left-menu-sub-2 .left-menu-sub-2-item span {
    font-size: 14px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2px;
    color: royalblue;
}

.left-menu-sub-2 .left-menu-sub-2-item i {
    font-size: 20px;
    color: #5f6368;
}

.left-menu-sub-2 #special-left-span {
    font-size: 18px;
    font-weight: 450;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.2px;
    /* padding-top: 10px; */
    display: grid;
    place-items: center;
    padding-bottom: 15px;
}

/* chat */
.left-menu-sub-2 .left-menu-sub-2-item-chat {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    grid-gap: 15px;
    padding-left: 5px;
}

.left-menu-sub-2 #special-left-span-chat {
    font-size: 18px;
    font-weight: 450;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.2px;
    /* padding-top: 10px; */
    display: grid;
    place-items: center;
    padding-top: 20px;
}

.left-menu-sub-2 .left-menu-sub-2-item-chat img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

 .left-menu-sub-2 .left-menu-sub-2-item-chat span {
    font-size: 14px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.2px;
    color: royalblue;
}

/*main styling here section */
.main-sub-1 {
    display: grid;
    align-content: start;
    padding-top: 20px;
    padding-left: 20px;
}
.main-group {
    /* display: grid;
    align-content: start; */
}

.main-group .main-icons-1 {
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    color: #000;
}

.arrows {
    display: inline-block;
    float: right;
    padding-right: 30px;
}

.arrows .arrows-icon {
    font-size: 18px;
    color: #000;
    padding-left: 25px;
}

.left-menu-sub-3 .left-icons-group {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    align-items: center;
    grid-gap: 10px;
    padding-top: 5px;
}

.left-menu-sub-3 .left-icons-group i {
    display: grid;
    place-items: center;
    color: #5f6368;
}

/* .left-icons-group i {
    padding-left: 7px;
} */

.main-post {
    padding-left: 5px;
    margin-top: 8px;
}

.main-post p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.3px;
    text-align: left;
    display: inline;
    padding-left: 10px;
}

.main-post span {
    display: inline block;
    float: right;
    font-size: 16px;
    font-weight: bold;
}

.main-post input {
    display: inline block;
}

.main-sub-2 .hr-line {
    border-top: 2.5px solid #5f6368;
}
.main-post a {
    color: #000;
}

/* .right-menu-sub-2 {
    display: grid;
} */

.right-menu .right-menu-sub-2 .right-menu-sub-2-icons {
    display: grid;
    grid-gap: 40px; */
    padding-top: 30px;
    place-items: center;
    padding-top: 45px;
}
.right-menu .right-menu-sub-2-icons i {
    font-size: 24px;
    color: #5f6368;
}

.right-menu .right-menu-sub-2 #right-menu-special-icon {
   padding-top: 80px;
}

/*start of great grid */
.right-menu .right-menu-sub-1 {
    display: grid;
    align-content: start;
    grid-gap: 20px;
}

.right-menu .right-menu-sub-1 .first-group {
    padding-top: 20px;
    display: grid;
    place-items: center;
    grid-template-columns: 0.8fr 0.2fr;
    grid-gap: 15px;
}

.right-menu .right-menu-sub-1 .first-group span {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.right-menu .right-menu-sub-1 .first-group i {
    font-size: 22px;
    font-weight: 800;
}

.right-menu .right-menu-sub-1 .first-group input {
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 10%;
    background-color: transparent;
    border: 1px solid #5f6368;
    color: royalblue;
    font-weight: 700;
}

/* bug  fixed it with not gird-template just grid-template-columns dunno why it worked with this and not with that*/

.right-menu .right-menu-sub-1 .second-group {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 0.4fr;
    grid-gap: 10px;
    place-items: center;
    padding-left: 15px;
}
.right-menu .right-menu-sub-1 .second-group img {
    height: 50px;
    border-radius: 30%;
}
.right-menu .right-menu-sub-1 .second-group span {
    font-size: 14px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .right-menu .right-menu-sub-1 .second-group {
    display: grid;
    grid-template:
    "a b c" 1fr
    "a b c" 1fr
    "a b c" 1fr /
    0.1fr 0.6fr 0.3fr;
    grid-gap: 15px;
}
.right-menu .right-menu-sub-1 .second-group .second-group-input {
    grid-area: a;
}
.right-menu .right-menu-sub-1 .second-group .second-group-span {
    grid-area: b;
}
.right-menu .right-menu-sub-1 .second-group .second-group-img{
    grid-area: c;
}
 */


/* Media Queries to make it responsive */

@media screen and (max-width: 900px) {
    .right-menu .right-menu-sub-2 {
        display: none;
    }

   .right-menu {
    grid-area: right-menu;
    border: 2px solid black;
    display: grid;
    grid-template: 
    "right-menu-sub-1" 1fr / 
     1fr;
    }
}


@media screen and (max-width: 700px) {
    .icons-header .icons {
        font-size: 22px;
        padding-left: 10px;
    }
    .icons-header #special-icon {
        font-size: 22px;
        padding-right: 30px;
    }
    .header-sub-1 #img1-sub-1, .header-sub-1 #img2-sub-1 {
        height: 20px;
        margin-top: 10px;
    }
    .header-sub-1 #span-sub-1 {
        font-size: 15px;
        margin-top: 15px;
        padding-left: 15px;
    }
    .header-sub-2 .search-bar {
        padding-left: 40px;
    }
    .left-menu-sub-1 .image-group img {
        height: 70px;
        width: 120px;
        padding-right: 25px;
    }
    .main-sub-2 .main-post p {
        font-size: 11px;
        display: inline-block;
    }
    .main-sub-2 .main-post span, .main-sub-2 .main-post input {
        font-size: 11px;
        display: inline-block;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .header .header-sub-3, .right-menu {
        display: none;
    }

    .container-menus {
        height: 100vh;
        /*grid starts the big grid here */
        display: grid;
        grid-template: 
        "header header" 60px
        "left-menu main" 1fr / 
        0.2fr 0.8fr;
    }
}

@media screen and (max-width: 500px) {
    .header .header-sub-1, .left-menu {
        display: none;
    }

    .container-menus {
        height: 100vh;
        /*grid starts the big grid here */
        display: grid;
        grid-template: 
        "header" 60px
        "main" 1fr / 
         1fr;
    }
}